body {
    display: flex;
    color: white;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px 15px;
    padding: 0;
    gap: 16px;
}

img {
    height: 150px;
    width: 150px;
}

.images {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 52px;
}

.first_img {
    flex: auto;
    height: 300px;
    width: 700px;
}

.first, .second, .third, .fourth, .footer{
    display: flex;
    flex-direction: column;
}

.first, .footer{
    background-color: #1F2937;
}

.second {
    margin-bottom: 150px;
}

.third {
    background-color: #E5E7EB;
    padding: 10% 20%;
}

.header, .initial_content{
    display: flex;
    justify-content: space-between;
    flex: auto;
    gap: 40px;
    padding: 15px 15%;
    margin-bottom: 32px;
    align-items: center;
}

.logo {
    display: flex;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.title_1, .text1, .sign_up {
    margin-bottom: 10px;
}

.title_1{
    font-size: 48px;
    font-weight: 900;
}

.text1 {
    font-size: 18px;
}

.sign_up {
    background-color: #3882f6;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.title_2 {
    display: flex;
    justify-content: center;
    flex: auto;
    padding: 40px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.images {
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-shrink: 1;
}

.info {
    max-width: 200px;
    max-height: 200px;
    color: gray;
    font-size: 12px;
}

.second_imgs {
    border-radius: 10px;
    border: 2px solid #3882f6;
    margin-bottom: 15px;
}

.quote {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
}

.name {
    display: flex;
    justify-content: right;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.call_to_action {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 8px;
    margin: 10% 20%;
}

.text .title {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0;
}

.text .subtext {
    font-size: 15px;
}

.text, .sign_up_container {
    padding: 5% 10%;
}

.call_to_action .sign_up_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.sign_up_container .sign_up {
    margin-bottom: 0;
    border: 2px solid white;
}

.copyright {
    padding: 4%;
    text-align: center;
}